/* Challenge CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("./assets/chaigym.png");
}

/* Navbar styles */
.navbar {
  display: flex;
  gap: 900px;
  background-color: rgb(105, 98, 98);
  padding: 10px;
}

.logo {
  margin-left: 70px;
  display: flex;
  gap: 20px;
  align-items: center;
  color: aliceblue;
  font-weight: 600;
}

.logo img {
  border-radius: 50px;
  height: 50px;
}

.nav-links  {
  display: flex;
  /* margin-right: 30px; */
  gap: 70px;
}


.nav-links a {
 text-decoration: none;
color: aliceblue;
}
.nav-links a:hover {
  transform: scale(1.5);
}

/* Hero section styles */
.hero {

 text-align: center;

}

.hero-content {
  
  margin-top: 40px;
}

.hero-content h1 {
  margin-top: 10px;
  color: white;
}

.hero-content p {
  margin-top: 20px;
  color: white;
}

.cta-button {
  margin-top: 20px;
  border: 1px;
  border-radius: 5px;
  background-color: orange;
  padding: 10px 20px;
}

.cta-button:hover {
 transform: scale(1.1) rotate(10deg);
 box-shadow:0 0 20px  orange ;
 cursor: pointer;
}

/* Features section styles */
.features {
  display: flex;
  justify-content: space-around;
  border: 1px solid;
border-radius: 10px;
margin-left: 20px;
margin-right: 20px;
margin-top: 60px;
padding: 40px;
background-color: rgba(13, 14, 14, 0.816);
}

.feature {
padding: 30px 40px;
border: 1px solid;
border-color: orange;
border-radius: 20px;
width: 400px;
}

.feature h3 {
  color: orange;
}

.feature p {
 color: white;
}
